.Navigation {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 6px -6px rgba(8, 6, 6, 0.1);
  background: #ffffff;
  z-index: 100;
  position: relative;
}
.Active {
  background: #e2f2fc;
  color: rgb(94, 53, 177) !important;
}
