@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&display=swap");

.image-container img {
  position: absolute;
  inset: 0;
  height: 80vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -5;
}
.image-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
  height: 80vh;
  width: 100%;
  z-index: -4;
  background-color: rgba(0, 0, 0, 0.7);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-content {
  width: 60%;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  margin-top: 5rem;
}
.home-content h1 {
  font-size: 2.5rem;
  font-weight: 2000;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.home-content p {
  margin-top: 0.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Bona Nova", serif;
  color: white;
}
.home-content .search-box-container-home {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 65px;
  position: relative;
}
.home-content .search-box-container-home form input {
  height: 100%;
  width: 75%;
  font-size: 25px;
  outline: none;
  border: none;
  text-indent: 50px;
  background-color: rgba(255, 255, 255, 0.7);
}

.home-content .search-box-container-home form input::placeholder {
  font-size: 16px;
}
.room-icon-home {
  position: absolute;
  color: #ff6666;
  left: 35px;
  font-size: 25px;
  height: 80px;
  width: 80px;
}
.button-home {
  height: 65px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1781e2;
  transition: all 0.3s ease;
}
.home-content .search-box-container-home .button-home:hover {
  background-color: rgba(23, 129, 226, 0.7);
}
.home-content .search-box-container-home p {
  margin-right: 12px;
  font-family: "poppins", serif;
  font-size: 20px;
  text-transform: uppercase;
}
.home-content .downloads {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60%;
}
.home-content .downloads img {
  width: 35%;
  margin-right: 2.5rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.home-content .downloads img:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.home-content .downloads .playstore {
  height: 100px;
}

.search-dropdown {
  position: absolute;
  top: 4rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 6px 5px rgba(0, 0, 0, 0.3);
  background: rgb(245, 243, 243);
  max-height: 250px;
  overflow-y: scroll;
}
.search-dropdown h1 {
  font-size: 20px;
  font-weight: 400;
  color: #415765;
  margin: 1rem;
  text-transform: capitalize;
}
.search-dropdown .result {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
  color: #415765;
  font-weight: 400 !important;
}
.search-dropdown .result h2 {
  font-weight: 400;
  font-size: 18px;
}
.room-icon-dropdown {
  color: #ff6666;
}
